
.header, .catalog, .stage, .checkout {
  padding: 4px;
}

.header, .footer {
  border: solid 2px blue;
}

.catalog {
  border: solid 2px orange;
}

.stage {
  border: solid 2px green;
}

.content {
  border: solid 2px lightgreen;
}

.checkout {
  border: solid 2px red;
}

.checkout.busy {
  filter: opacity(50%);
  -webkit-filter: opacity(50%);
  cursor: progress;
}

.checkout .error {
  background-color: darkred;
  color: white;
  padding: 2px;
}

.checkout .debug {
  border: solid 2px greenyellow;
}

.checkout .debug::before {
  content: "Debug: "
}

.catalog .paid::after {
  content: " cleared"
}

.catalog .unpaid::after {
  content: " locked"
}

.content.fetching::after {
  content: "(fetching content)"
}