
.header, .catalog, .stage, .checkout {
  padding: 4px;
}

.header {
  border: solid 2px blue;
}

.catalog {
  border: solid 2px orange;
}

.stage {
  border: solid 2px green;
}

.content {
  border: solid 2px lightgreen;
}

.checkout {
  border: solid 2px red;
}

.catalog .paid::after {
  content: " cleared"
}

.catalog .unpaid::after {
  content: " locked"
}

.content.fetching::after {
  content: "(fetching content)"
}